# default owner unless a later match takes precedence
* @knime/nodevizards

/js-src/packages/scripting-editor @knime/rakete
/org.knime.core.ui/src/eclipse/org/knime/core/webui/node/dialog/scripting @knime/rakete
