image: node:22.11.0 # using 22.11.0 because the experimental feature for importing ESM (enabled by default starting with node 22.12.0) significantly slows test execution in the pipeline (https://github.com/vitest-dev/vitest/issues/7302)

definitions:
  caches:
    pnpm: $BITBUCKET_CLONE_DIR/.pnpm-store
  steps:
    - step: &lint-test-build
        name: 'Lint, tests and build'
        caches:
          - pnpm
          - node
        script:
          - cd js-src
          - npm install -g corepack
          - corepack enable
          - pnpm install
          - pnpm run audit

          - echo "CORE-UI"
          - cd packages/core-ui
          - pnpm run type-check
          - pnpm run ci:lint-format
          - pnpm run coverage
          - pnpm run build

          - echo "SCRIPTING-EDITOR"
          - cd ../../packages/scripting-editor
          - pnpm run type-check
          - pnpm run ci:lint-format
          - pnpm run coverage
          - pnpm run build
        artifacts:
          - js-src/packages/scripting-editor/dist/**

pipelines:
  pull-requests:
    '**':
      - step: *lint-test-build
      - step:
          name: 'Publish Scripting Editor to npm'
          trigger: manual
          deployment: production
          size: 2x
          script:
            - cd js-src/packages/scripting-editor
            - npm version patch --no-git-tag-version
            - version=`node -p "require('./package.json').version"`
            - git add package.json package-lock.json
            - git commit -m "Bump version to ${version} [skip ci]" --no-verify
            - git tag "v${version}" -am "Bump version to ${version}"
            - git push --no-verify && git push --tags --no-verify
            - pipe: atlassian/npm-publish:0.2.0
              variables:
                NPM_TOKEN: $NPM_TOKEN
  branches:
    '{master,releases/*}':
      - step: *lint-test-build
